@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
    animation: bg-animation 10s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.text{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.button{
    display: flex;
}
button{
    margin: 20px;
    font-family: 'Source Code Pro', monospace;
    border-radius: 5px;
    border: 1px solid black;
    background-color: antiquewhite;
    height: 30px;

}
.video{
    width: 300px;
}

.heli{
    display: flex;
    flex-direction: column;
}

@-webkit-keyframes bg-animation {
    0% {
      background-color: rgb(198, 40, 40);
    }
    15% {
      background-color: rgb(254, 227, 146);
    }
    30% {
      background-color: rgb(117, 191, 117);
    }
    45% {
      background-color: rgb(181, 181, 255);
    }
    60% {
      background-color: rgb(205, 105, 205);
    }
    75% {
      background-color: pink;
    }
    90% {
      background-color: rgb(220, 115, 162);
    }
    100% {
      background-color: rgb(223, 111, 111);
    }
  }